{% extends 'encyclopedia/layout.html' %}


{%block title %}
Edit {{ entry_title.title }}
{% endblock %}


{% block body %}

{% if error_message %}
<div class="alert alert-danger page-not-found" role="alert">
    {{ error_message }}
</div>
{% else %}

<form action="/wiki/edit_entry/{{entry_title.url}}" method="POST" >
    {% csrf_token %}

    <div calss="form-input" >
        <h3> {{ entry_title.title }} </h3>
    </div>
    <div calss="form-input" >

        {% if content_not_filled_error %}
        <div class="alert alert-danger page-not-found" role="alert">
        {{ content_not_filled_error }}
        </div>
        {% endif %}

        {{ form.content.errors}}
        {{ form.content }}
        <input type="submit" value="save" >
    </div>
</form>

{% endif %}
{% endblock %}
