{% extends 'encyclopedia/layout.html' %}


{%block title %}
Create New Page
{% endblock %}


{% block body %}

{% if error_message %}
<div class="alert alert-danger page-not-found" role="alert">
    {{ error_message }}
</div>
{% else %}

<form action="/wiki/new_page" method="POST" >
    {% csrf_token %}

    <div calss="form-input" >
        {{ form.title.errors}}
        {{ form.title.label_tag }}
        {{ form.title }}
    </div>
    <div calss="form-input" >
        {{ form.content.errors}}
        {{ form.content }}
        <input type="submit" value="save" >
    </div>
</form>

{% endif %}
{% endblock %}
