<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> hello page </title>
        <style>
         body {
             height: 90vh;
             display: flex;
             background-color: #EEE;;
         }
         h1 {
             margin: auto;
             color: orange;
         }

         @media (max-width: 500px) {
             h1 {
                 font-size: 20px;
             }
         }
        </style>
    </head>
    <body>
        <h1> Your Are Welcome </h1>
    </body>
</html>
