$main-fonts: arial,sans-serif;
$main-color: #222;
$main-font-size: 14px;

$navbar-fonts: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;


body {
    font-family: $main-fonts;
    font-size: $main-font-size;
    color: $main-color;
    background-color: #fff;

}



.nav-bar {
    font: $navbar-fonts;
    display: flex;
    justify-content: flex-end; // horizontal alignment
    align-items: center;   //vertical alignment
    height: 48px;
    // background-color: green;


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin-right: 15px;

            a {
                text-decoration: none;
                color: rgba(0,0,0,0.87);
                font-family: arial, sans-serif;

            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

}


//google logo styles
.googlelogo-container {
    // background-color: #AAA;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: calc(100vh - 560px);
}
.googlelogo {
    // background-color: orange;
    margin-top: auto;
}






// search box styles
.searchbox-container {
    padding: 20px;

    .search-form {
        padding-top: 6px;
        width: auto;
        max-width: 584px;
        margin: 0 auto;

        .searchbar {
            border: 1px solid #dfe1e5;
            box-shadow: none;
            border-radius: 24px;
            z-index:3;
            height: 44px;
            margin: 0 auto;
            padding: 5px 8px 0 14px;
            display:flex;


            .search-svg {
                color: #9aa0a6;
                width: 20px;
                height: 20px;
                fill:currentColor;
                line-height: 24px;
                padding-right: 16px;
                margin-top:8px;
                margin-bottom: auto;
            }

            .search-input {
                background-color: transparent;
                border: none;
                margin: 0;
                padding: 0;
                color: rgba(0,0,0,.87);
                word-wrap: break-word;
                outline: none;
                display: flex;
                flex: 100%;
                -webkit-tap-highlight-color: transparent;
                height: 34px;
                font-size: 16px;
            }

        }

        .searchbar:hover {
            box-shadow: 0 1px 6px rgba(32,33,36,.28);
            border-color: rgba(223,225,229,0);
        }

        .search-buttons {
            height: 70px;
            padding-top: 18px;

            input[type="submit"] {
                background-color: #f8f9fa;
                border: 1px solid #f8f9fa;
                border-radius: 4px;
                color: #3c4043;
                font-size: 14px;
                margin: 11px 4px;
                padding: 0 16px;
                height: 36px;
                min-width: 54px;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}


